<div class="flex h-full w-full flex-col text-left text-gray-500">
    <div
        class="grid bg-gray-100 text-xs font-semibold uppercase text-gray-700"
        [class.grid-cols-10]="delete.observed"
        [class.grid-cols-9]="!delete.observed">
        <div class="col-span-3 px-6 py-3">Date</div>
        <div class="col-span-2 px-6 py-3">Start</div>
        <div class="col-span-2 px-6 py-3">End</div>
        <div class="col-span-2 px-6 py-3">Time</div>
        <div *ngIf="delete.observed"></div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" class="h-full" *ngIf="useVirtualScroll" #scrollViewport>
        <!-- https://github.com/angular/components/issues/27358 -->
        <!--<ng-container *ngTemplateOutlet="itemGridTemplate; context: { $implicit: virtualFor, scrollViewport: scrollViewport }" />-->
        <div class="grid text-gray-900" [class.grid-cols-10]="delete.observed" [class.grid-cols-9]="!delete.observed">
            <ng-container *cdkVirtualFor="let time of times; let odd = odd">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: time, odd }"></ng-container>
            </ng-container>
        </div>
    </cdk-virtual-scroll-viewport>
    <ng-container *ngIf="!useVirtualScroll">
        <ng-container *ngTemplateOutlet="itemGridTemplate; context: { $implicit: normalFor }" />
    </ng-container>
</div>

<ng-template #itemGridTemplate let-template let-scrollViewport="scrollViewport">
    <ng-container [kwScrollViewportProvider]="scrollViewport" #scrollViewportProvider="kwScrollViewportProvider">
        <div class="grid text-gray-900" [class.grid-cols-10]="delete.observed" [class.grid-cols-9]="!delete.observed">
            <ng-container *ngTemplateOutlet="template; injector: scrollViewportProvider.injector;"></ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #virtualFor>
    <ng-container *cdkVirtualFor="let time of times; let odd = odd">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: time, odd }"></ng-container>
    </ng-container>
</ng-template>

<ng-template #normalFor>
    <ng-container *ngFor="let time of times; let odd = odd">
        <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: time, odd }"></ng-container>
    </ng-container>
</ng-template>

<ng-template #itemTemplate let-time let-odd="odd">
    <div class="col-span-3 flex h-[50px] items-center px-6" [class.bg-gray-50]="odd">
        {{ time.utcDate | unixDate }}
        <fa-icon [icon]="faClockRotateLeft" *ngIf="time.isNonWorkday" class="ml-2 text-green" title="Non Workday"></fa-icon>
        <fa-icon [icon]="faLeaf" *ngIf="time.isADayOff" class="ml-2 text-green" title="Is a day off"></fa-icon>
    </div>
    <div class="col-span-2 flex h-[50px] items-center px-6" [class.bg-gray-50]="odd">
        {{ time.start | millisecondsToTime }}
    </div>
    <div class="col-span-2 flex h-[50px] items-center px-6" [class.bg-gray-50]="odd">{{ time.end | millisecondsToTime }}</div>
    <div class="col-span-2 flex h-[50px] items-center px-6" [class.bg-gray-50]="odd">
        <ng-container *ngIf="time.isADayOff">-</ng-container>{{ time.duration | duration }}
    </div>
    <div *ngIf="delete.observed" class="flex items-center px-6" [class.bg-gray-50]="odd">
        <fa-icon (click)="delete.next(time)" [icon]="faTrashAlt" class="cursor-pointer"></fa-icon>
    </div>
</ng-template>
