<table class="min-w-full">
    <thead class="rounded-sm bg-slate-50 text-left text-sm text-slate-500">
        <tr>
            <th class="px-2 py-2 font-semibold">ID</th>
            <th class="px-2 py-2 font-semibold">Date</th>
            <th class="px-2 py-2 font-semibold">Start Time</th>
            <th class="px-2 py-2 font-semibold">End Time</th>
            <th class="px-2 py-2 font-semibold">Time</th>
            <th class="px-2 py-2 font-semibold"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let time of times">
            <td class="border-t border-slate-100 px-2 py-2">{{ time.id }}</td>
            <td class="border-t border-slate-100 px-2 py-2">{{ time.utcDate | unixDate }}</td>
            <td class="border-t border-slate-100 px-2 py-2">{{ time.start | millisecondsToTime }}</td>
            <td class="border-t border-slate-100 px-2 py-2">{{ time.end | millisecondsToTime }}</td>
            <td class="border-t border-slate-100 px-2 py-2">{{ time.duration | duration }}</td>
            <td class="border-t border-slate-100 px-2 py-2">
                <fa-icon (click)="delete.next(time)" [icon]="faTrashAlt" class="cursor-pointer"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>
