<kw-page-title>Settings</kw-page-title>

<kw-card>
    <h2 header>Basic settings</h2>
    <kw-settings-form body [settings]="settings()" />
</kw-card>

<kw-card>
    <h2 header>Export</h2>
    <ng-container body>
        <p>This will export everything, all tracked times, all your settings.</p>
        <div class="mt-4">
            <button class="kw-button" (click)="export()">Export</button>
        </div>
    </ng-container>
</kw-card>

<kw-card [displayType]="'danger'">
    <h2 header>Danger Zone</h2>
    <ng-container body>
        <kw-card-section-title>Import</kw-card-section-title>
        <input type="file" accept=".json" [formControl]="fileControl" />
        <div class="mt-4">
            <button class="kw-button" (click)="import()" [disabled]="fileControl.invalid">Import</button>
        </div>

        <kw-card-section-title class="mt-8">Clear Database</kw-card-section-title>
        <p>This will clear the whole database.</p>
        <div class="mt-4">
            <button class="kw-button bg-red" (click)="clear()">Clear</button>
        </div>
    </ng-container>
</kw-card>
