<table class="w-full text-left text-gray-500">
    <thead class="bg-gray-50 text-xs uppercase text-gray-700">
        <tr>
            <th class="px-6 py-3 font-semibold">Nominal Time</th>
            <th class="px-6 py-3 font-semibold">Actual Time</th>
            <th *ngIf="overall.remainingTime" class="px-6 py-3 font-semibold">Remaining time</th>
            <th *ngIf="overall.overtime" class="px-6 py-3 font-semibold">Overtime</th>
        </tr>
    </thead>
    <tbody>
        <tr class="border-b bg-white">
            <td class="whitespace-nowrap px-6 py-4 text-center font-medium text-gray-900">{{ overall.nominalTime | duration }}</td>
            <td class="whitespace-nowrap px-6 py-4 text-center font-medium text-gray-900">{{ overall.actualTime | duration }}</td>
            <td *ngIf="overall.remainingTime" class="whitespace-nowrap px-6 py-4 text-center font-medium text-red">
                <fa-icon [icon]="faExclamationCircle"></fa-icon>
                {{ overall.remainingTime | duration }}
            </td>
            <td *ngIf="overall.overtime" class="whitespace-nowrap px-6 py-4 text-center font-medium text-green">
                {{ overall.overtime | duration }}
                <fa-icon [icon]="faCheckCircle"></fa-icon>
            </td>
        </tr>
    </tbody>
</table>
