<kw-page-title>Dashboard</kw-page-title>

@if (showBackupNotice$ | async) {
<div class="mb-4 cursor-pointer rounded bg-red px-4 py-2 text-white" [routerLink]="['/settings']">
    <p>The last backup is older than 14 days. Please make a backup.</p>
</div>
}

<kw-card [contentType]="'chart'">
    <div class="flex flex-1" header>
        <h2>Chart</h2>

        <div class="ml-auto font-medium text-gray-400">
            <span (click)="chartResolution$.next('1 m')" [class.active]="(chartResolution$ | async) === '1 m'" class="cursor-pointer">1 m</span>
            |
            <span (click)="chartResolution$.next('6 m')" [class.active]="(chartResolution$ | async) === '6 m'" class="cursor-pointer">6 m</span>
            |
            <span (click)="chartResolution$.next('12 m')" [class.active]="(chartResolution$ | async) === '12 m'" class="cursor-pointer">12 m</span>
            |
            <span (click)="chartResolution$.next('all')" [class.active]="(chartResolution$ | async) === 'all'" class="cursor-pointer">all</span>
        </div>
    </div>
    @if (chartData$ | async; as chartData) {
    <kw-history-chart body [data]="chartData.data" [dailyWork]="chartData.settings.workPerDay" />
    } @else {
    <kw-loading-spinner></kw-loading-spinner>
    }
</kw-card>

<kw-card class="mt-4">
    <div header>Overall</div>
    @if (overall$ | async; as overall) {
    <kw-overall body [overall]="overall"></kw-overall>
    } @else {
    <kw-loading-spinner></kw-loading-spinner>
    }
</kw-card>

<kw-card class="mt-4">
    <div class="flex flex-1" header>
        <h2 class="whitespace-nowrap">
            Today @if (isWorkDayDone$ | async) {
            <fa-icon [icon]="faCheckCircle" class="ml-1 text-green" />
            }
        </h2>
        <fa-icon (click)="isTimeEntryVisible = !isTimeEntryVisible" [icon]="isTimeEntryVisible ? faClose : faPlus" class="ml-auto cursor-pointer" />
    </div>
    @if (today$ | async; as today) {
    <ng-container body>
        @if (settings$ | async; as settings) { @if (isTimeEntryVisible) {
        <kw-time-entry [isTodayMode]="true" (timeEntry)="addTimeEntry($event)" [settings]="settings" class="mb-2 self-end" />
        } } @else {
        <kw-loading-spinner></kw-loading-spinner>
        }
        <kw-today [today]="today" />
        @if (today.items.length) {
        <kw-time-table [times]="today.items" (delete)="deleteTimeEntry($event)"></kw-time-table>
        }
    </ng-container>
    } @else {
    <kw-loading-spinner></kw-loading-spinner>
    }
</kw-card>

<kw-card class="mt-4">
    <div class="flex flex-1" header>
        <h2>Week {{ weekNumber$ | async }} ({{ weekFromTo$ | async }})</h2>
        <div class="ml-auto">
            <fa-icon (click)="updateWeek(-1)" [icon]="faChevronLeft" class="cursor-pointer"></fa-icon>
            <fa-icon (click)="showThisWeek()" [icon]="faCalendar" class="ml-4 cursor-pointer"></fa-icon>
            <fa-icon (click)="updateWeek(1)" [icon]="faChevronRight" class="ml-4 cursor-pointer"></fa-icon>
        </div>
    </div>
    @if (week$ | async; as week) {
    <ng-container body>
        <kw-week [week]="week"></kw-week>
        <kw-time-table [times]="week.items"></kw-time-table>
    </ng-container>
    } @else {
    <kw-loading-spinner></kw-loading-spinner>
    }
</kw-card>
