<kw-page-title>Dashboard</kw-page-title>

<kw-card [hasFlexBody]="false">
    <h2 header>Chart</h2>
    <kw-history-chart body [data]="chartData()" [dailyWork]="settings().workPerDay" />
</kw-card>

<kw-card class="mt-4">
    <div header class="flex flex-1">
        <h2>
            Today
            <fa-icon *ngIf="isWorkDayDone()" [icon]="faCheckCircle" class="ml-1 text-green" />
        </h2>
        <fa-icon [icon]="isTimeEntryVisible ? faClose : faPlus" class="ml-auto cursor-pointer" (click)="isTimeEntryVisible = !isTimeEntryVisible" />
    </div>
    <ng-container body>
        <kw-time-entry *ngIf="isTimeEntryVisible" [isTodayMode]="true" (timeEntry)="addTimeEntry($event)" class="mb-2 self-end" />
        <kw-today *ngIf="today() as today" [today]="today" />
        <kw-time-table *ngIf="todayItems().length" [times]="todayItems()" (delete)="deleteTimeEntry($event)"></kw-time-table>
    </ng-container>
</kw-card>
