<kw-page-title>Dashboard</kw-page-title>

<kw-card [contentType]="'chart'">
    <h2 header>Chart</h2>
    <kw-history-chart
        body
        *ngIf="chartData$ | async as chartData; else loading"
        [data]="chartData.data"
        [dailyWork]="chartData.settings.workPerDay" />
</kw-card>

<kw-card class="mt-4">
    <div header>Overall</div>
    <kw-overall *ngIf="overall$ | async as overall; else loading" body [overall]="overall"></kw-overall>
</kw-card>

<kw-card class="mt-4">
    <div header class="flex flex-1">
        <h2>
            Today
            <fa-icon *ngIf="isWorkDayDone$ | async" [icon]="faCheckCircle" class="ml-1 text-green" />
        </h2>
        <fa-icon [icon]="isTimeEntryVisible ? faClose : faPlus" class="ml-auto cursor-pointer" (click)="isTimeEntryVisible = !isTimeEntryVisible" />
    </div>
    <ng-container body *ngIf="today$ | async as today; else loading">
        <kw-time-entry *ngIf="isTimeEntryVisible" [isTodayMode]="true" (timeEntry)="addTimeEntry($event)" class="mb-2 self-end" />
        <kw-today [today]="today" />
        <kw-time-table *ngIf="today.items.length" [times]="today.items" (delete)="deleteTimeEntry($event)"></kw-time-table>
    </ng-container>
</kw-card>

<kw-card class="mt-4">
    <div header class="flex flex-1">
        <h2>Week {{ weekNumber$ | async }} ({{ weekFromTo$ | async }})</h2>
        <div class="ml-auto">
            <fa-icon [icon]="faChevronLeft" (click)="updateWeek(-1)" class="cursor-pointer"></fa-icon>
            <fa-icon [icon]="faCalendar" class="ml-4 cursor-pointer" (click)="showThisWeek()"></fa-icon>
            <fa-icon [icon]="faChevronRight" class="ml-4 cursor-pointer" (click)="updateWeek(1)"></fa-icon>
        </div>
    </div>
    <ng-container body *ngIf="week$ | async as week; else loading">
        <kw-week [week]="week"></kw-week>
        <kw-time-table [times]="week.items"></kw-time-table>
    </ng-container>
</kw-card>

<ng-template #loading>
    <kw-loading-spinner></kw-loading-spinner>
</ng-template>
