<form class="flex items-end space-x-3" (ngSubmit)="submit()" [formGroup]="formGroup">
    <div *ngIf="!isTodayMode">
        <label class="kw-label" for="utcDate">Date:</label>
        <input class="kw-input" id="utcDate" type="date" [formControl]="formGroup.controls.utcDate" [max]="maximumDate" />
    </div>
    <div>
        <label class="kw-label" for="start">Start:</label>
        <input class="kw-input" id="start" type="time" [formControl]="formGroup.controls.start" />
    </div>
    <div>
        <label class="kw-label" for="end">End:</label>
        <input class="kw-input" id="end" type="time" [formControl]="formGroup.controls.end" />
    </div>
    <div>
        <button class="kw-submit-button" type="submit" [disabled]="formGroup.invalid">Ok</button>
    </div>
</form>
