<form (ngSubmit)="submit()" [formGroup]="formGroup" class="flex items-end space-x-3">
    @if (!isTodayMode) {
    <div>
        <label class="kw-label" for="utcDate">Date</label>
        <input class="kw-input" id="utcDate" type="date" [formControl]="formGroup.controls.utcDate" [max]="maximumDate" />
    </div>
    }
    <div>
        <label class="kw-label" for="start">Start</label>
        <input [formControl]="formGroup.controls.start" class="kw-input" id="start" type="time" />
    </div>
    <div>
        <label class="kw-label" for="end">End</label>
        <input [formControl]="formGroup.controls.end" class="kw-input" id="end" type="time" />
    </div>
    <div>
        <span class="kw-label">No workday</span>
        <div class="kw-input kw-toggle-input">
            <label class="relative inline-flex cursor-pointer items-center">
                <input [formControl]="formGroup.controls.isNonWorkday" class="peer sr-only" type="checkbox" />
                <div class="kw-toggle peer"></div>
            </label>
        </div>
    </div>
    <div>
        <span class="kw-label">A day off?</span>
        <div class="kw-input kw-toggle-input">
            <label class="relative inline-flex cursor-pointer items-center">
                <input [formControl]="formGroup.controls.isADayOff" class="peer sr-only" type="checkbox" />
                <div class="kw-toggle peer"></div>
            </label>
        </div>
    </div>
    <div>
        <button [disabled]="formGroup.invalid" class="kw-button" type="submit">Ok</button>
    </div>
</form>
