<table class="w-full text-left text-gray-500">
    <tbody>
        @if (today.isADayOff) {
        <tr>
            <td colspan="2" class="whitespace-nowrap px-6 py-4 text-center font-medium text-green">
                Enjoy your day off
                <fa-icon [icon]="faSun" class="text-yellow"></fa-icon>
            </td>
        </tr>
        }
        <tr>
            <td class="bg-gray-100 px-6 py-3 text-xs font-semibold uppercase text-gray-700">Date</td>
            <td class="whitespace-nowrap px-6 py-4 text-right font-medium text-gray-900">{{ today.utcDate | unixDate }}</td>
        </tr>
        @if (!today.isADayOff) {
        <tr>
            <td class="bg-gray-100 px-6 py-3 text-xs font-semibold uppercase text-gray-700">Time worked</td>
            <td class="whitespace-nowrap px-6 py-4 text-right font-medium text-gray-900">{{ today.duration | duration }}</td>
        </tr>
        } @if (today.remainingTime && !today.isADayOff) {
        <tr>
            <td class="bg-gray-100 px-6 py-3 text-xs font-semibold uppercase text-gray-700">Remaining time</td>
            <td class="whitespace-nowrap px-6 py-4 text-right font-medium text-red">{{ today.remainingTime | duration }}</td>
        </tr>
        } @if (today.overtime && !today.isADayOff) {
        <tr>
            <td class="bg-gray-100 px-6 py-3 text-xs font-semibold uppercase text-gray-700">Overtime</td>
            <td class="whitespace-nowrap px-6 py-4 text-right font-medium text-green">{{ today.overtime | duration }}</td>
        </tr>
        } @if (today.isNonWorkday) {
        <tr>
            <td class="bg-gray-100 px-6 py-3 text-xs font-semibold uppercase text-gray-700">Non workday</td>
            <td class="whitespace-nowrap px-6 py-4 text-right font-medium text-green">
                <fa-icon [icon]="faCheck" class="ml-1" />
            </td>
        </tr>
        }
    </tbody>
</table>
