<kw-sidebar class="sticky top-0 h-screen w-60 shrink-0 grow-0">
    <kw-sidebar-header [image]="'/assets/logo-white.svg'"></kw-sidebar-header>
    <kw-sidebar-item [link]="['/dashboard']">
        <kw-sidebar-icon [icon]="faDashboard"></kw-sidebar-icon>
        Dashboard
    </kw-sidebar-item>
    <kw-sidebar-item [link]="['/times']">
        <kw-sidebar-icon [icon]="faClock"></kw-sidebar-icon>
        Times
    </kw-sidebar-item>
    <kw-sidebar-item [link]="['/importer']">
        <kw-sidebar-icon [icon]="faFileImport"></kw-sidebar-icon>
        Import
    </kw-sidebar-item>
    <kw-sidebar-item [link]="['/settings']">
        <kw-sidebar-icon [icon]="faCogs"></kw-sidebar-icon>
        Settings
    </kw-sidebar-item>
    <kw-sidebar-footer>{{ version$ | async }}</kw-sidebar-footer>
</kw-sidebar>

<main class="flex-1 p-4">
    <router-outlet></router-outlet>
</main>
