<kw-sidebar>
    <kw-sidebar-item [link]="['/dashboard']">
        <kw-sidebar-icon [icon]="faDashboard"></kw-sidebar-icon>
        Dashboard
    </kw-sidebar-item>
    <kw-sidebar-item [link]="['/times']">
        <kw-sidebar-icon [icon]="faDatabase"></kw-sidebar-icon>
        Data
    </kw-sidebar-item>
    <kw-sidebar-item [link]="['/settings']">
        <kw-sidebar-icon [icon]="faCogs"></kw-sidebar-icon>
        Settings
    </kw-sidebar-item>
</kw-sidebar>

<main class="m-4 flex-1">
    <router-outlet></router-outlet>
</main>
