<kw-page-title>Import</kw-page-title>

<textarea
    rows="10"
    class="block w-3/6 rounded-lg border border-gray-300 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
    placeholder="Paste your data..."
    required
    [formControl]="text"></textarea>

<div *ngIf="importing()" class="mb-8 mt-8 w-3/6 rounded bg-slate-200">
    <div class="bg-blue-dark rounded-full p-0.5 text-center text-xs font-medium leading-none text-blue-100" [style.width.%]="progressWidth()">
        {{ currentLine() }} / {{ linesCount()}}
    </div>
</div>

<div class="mt-2">
    <button class="kw-button" (click)="import()">Import</button>
</div>
